.info-selector-text, select#gender-selector {
    vertical-align: top;
}
.visualize-grid {
    font-size: 0.5rem;
    margin: 0 auto;
}

.visualize-row {
    display: flex;
}

.visualize-box {
    background: rgba(76, 175, 79, 1);
    margin: 0.5px;
    color: darkolivegreen;
    font-weight: bold;
    flex: 1 0 auto;
    position: relative; 
}

.visualize-box-passed {
    background: rgb(0, 0, 0);
}

@keyframes color_passed {
    from {background: rgba(76, 175, 79, 1);}
    to {background: rgb(0, 0, 0);}
}

.visualize-box:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.visualize-box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Wasted / Left colors */
#weeks-wasted, .weeks-wasted {
    color: crimson;
}

#weeks-til-death, .weeks-til-death {
    color:  rgba(76, 175, 79, 1);
}

/* Change color for dropdowns to correspond to the blue color of links */
.dropdown-trigger, .dropdown-content li a {
    color: #039be5 !important;
}

/* Spawn sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Blinking box animation */
.pending {
    -webkit-animation: pending 2700ms linear 1000ms infinite;
    animation: pending 2700ms linear 1000ms infinite;
 }
  
@-webkit-keyframes pending {
    0% { background-color: rgba(76, 175, 79, 0.9); }
    33% { background-color: rgba(0, 0, 0, 0.9); }
    66% { background-color: rgba(76, 175, 79, 0.9); }
    100% { background-color: rgba(0, 0, 0, 1); }
}
  
@keyframes pending {
    0% { background-color: rgba(76, 175, 79, 0.9); }
    33% { background-color: rgba(0, 0, 0, 0.9); }
    66% { background-color: rgba(76, 175, 79, 0.9); }
    100% { background-color: rgba(0, 0, 0, 1); }
}