.info-selector-text, select#gender-selector {
    vertical-align: top;
}
.grid {

    margin: 0 auto;
    width: 80vw;
    max-width: 60vh;
    height: 80vw;
    max-height: 60vh;
    font-size: 1rem;

}

.row {
    display: flex;
}

.box {
    background: yellowgreen;
    margin: 5px;
    color: darkolivegreen;
    font-weight: bold;
    flex: 1 0 auto;
    position: relative; 
}

.box:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

