.info-selector-text, select#gender-selector {
    vertical-align: top;
}
.visualize-grid {

    /*
    width: 80vw;
    max-width: 60vh;
    height: 80vw;
    max-height: 60vh;
   
    */
    font-size: 0.5rem;
    margin: 0 auto;

}

.visualize-row {
    display: flex;
}

.visualize-box {
    background: rgba(76, 175, 79, 1);
    margin: 0.5px;
    color: darkolivegreen;
    font-weight: bold;
    flex: 1 0 auto;
    position: relative; 
}

.visualize-box-passed {
    background: rgb(0, 0, 0);
}

@keyframes color_passed {
    from {background: rgba(76, 175, 79, 1);}
    to {background: rgb(0, 0, 0);}
}

.visualize-box:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.visualize-box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

